//variable
$main-color:#1fa01f;
$light-color:rgba(0, 0, 0, 0.22);
$dark-color:#333;
$medium-color:rgb(139, 135, 135);
$bg-color: linear-gradient(to bottom, #55fd1a, #40dc19, #2bbb16, #179c12, #007d0d);

